header {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-size: 15px;
}

.progress {
  width: 500px;
  margin: auto;
}

.canvas {
  width: 750px;
  margin: 5px;
  float: left;
}

canvas {
  background-color: black;
}

.side-screen {
  float: left;
  width: 400px;
  margin: 5px;
  text-align: center;
}

.game-rule {
  margin-top: 5px;
}

.ball-type {
  width: 380px;
  height: 90px;
  border: solid 1px black;
  margin: auto;
  margin-bottom: 10px;
}

.random-text {
  width: 380px;
  height: 100px;
  border: solid 1px black;
  margin: auto;
  margin-bottom: 10px;
}

#gif-wrap {
  width: 380px;
  height: 300px;
  margin: auto;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
